<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="THITRACNGHIEM.Properties.Settings.TN_CSDLPTConnectionString"
      connectionString="Data Source=VIETNAM-PC\VIETNAM3;Initial Catalog=TN_CSDLPT;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="THITRACNGHIEM.Properties.Settings.TN_CSDLPTConnectionString1"
      connectionString="Data Source=VIETNAM-PC\VIETNAM1;Initial Catalog=TN_CSDLPT;User ID=TUYET"
      providerName="System.Data.SqlClient" />
    <add name="THITRACNGHIEM.Properties.Settings.THITNConnectionString"
      connectionString="Data Source=VIETNAM-PC\VNSERVER;Initial Catalog=THITN;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="THITRACNGHIEM.Properties.Settings.THITNConnectionString1"
      connectionString="Data Source=VIETNAM-PC\VIETNAM1;Initial Catalog=THITN;User ID=THIEN"
      providerName="System.Data.SqlClient" />
    <add name="THITRACNGHIEM.Properties.Settings.THITNConnectionString2"
      connectionString="Data Source=VIETNAM-PC\VIETNAM1;Initial Catalog=THITN;User ID=HAI"
      providerName="System.Data.SqlClient" />
    <add name="THITNConnectionString" connectionString="XpoProvider=MSSqlServer;data source=VIETNAM-PC\VNSERVER;integrated security=SSPI;initial catalog=THITN" />
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>